<h3><%= @choice.name %></h3>

<%= link_to 'Edit Question', edit_choice_path( @choice ) %> 

<%= render 'answer_form' %>

<% if @answers %>
  <h2><%= @choice.verdict %></h2>
<% else %>
  Results will not be available for another <%= @ttl %> days.
<% end %>