<h3><%= @choice.name %></h3>

<%= link_to 'Edit Question', edit_choice_path( @choice ) %> 

<%= render 'answer_form' %>

<% if @answers %>
  <% @answers.each do |answer| %>
    <li><%= answer.answer %></li>
  <% end %>
<% else %>
  Results will not be available until <%= @ttl %>
<% end %>